---
# 
--- 
 
$color-blue: #254DA8;
$color-main: #051e59;
$color-main-light: #254da8;
$color-apis: #008080;
$font1: "League Spartan", serif;
$font2: "Fanwood", serif;
$bg-grid: url(/assets/hip-square.png);
$bg-chalk: url(/assets/chalkboard.jpg);
$bg-dotty: url(/assets/dotty2.jpg);
$bg-noisy: url(/assets/green1.jpeg);
$bg-library: url(/assets/library3-min.jpg);
$bg-code: url(/assets/code4.jpg);
$card-dark: rgba(255, 255, 255, 0.6);
$card-light: rgba(255, 255, 255, 0.8);
$line-height: 2.2rem;

@import "partials/media-queries";
@import "partials/typography";
@import "partials/keyframes";
@import "partials/background-patterns";
@import "partials/footer";
@import "partials/blog";
@import "partials/about-me";
@import "partials/contact";

#contact-form{
  display: flex;
  flex-direction: column;
}

body {
  
  // @include bg1-light2;
 background: $bg-library;
 background-size: cover;
}
   
 

#homepage-body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
 
}

.card {
  text-align: center;
  background: $card-dark;
  border-bottom: 25px solid $color-blue;
  border-right: 25px solid #254DA8;
 }

.card-top {
  background: none;
  padding: 3rem 3rem 0rem;
  border-radius: 15px 15px 0 0;
  font-family: $font1;
  font-size: 3rem;
  letter-spacing: -0.2rem;
}
.card-middle {
  padding: 1rem;
  font-family: $font1;
  font-size: 1.75rem;
}

.card-bottom {
  padding: 1rem 0 3rem 0;
  font-family: $font1;
}
ul {
  padding-left: 0px;
  margin: 0px;
}
.card ul li {
  list-style: none;
}

.homepage-nugget {
  text-align: right;
  position: relative;
  max-width: 500px;
}
.homepage-nugget h2 {
	border-right: 3px solid #254da8;
	border-bottom: 3px solid #254da8;
	padding: .5rem 5px 0 5em;
	font-size: 2.15rem;
	font-family: $font1;
	background: #254da8;
	color: white;
}

.latest-post-title {
  font-family: $font1;
  font-size: 1.75rem;
 
  background: $card-light;
  padding: 0.25rem .5rem .25rem 4.5rem;
  margin-bottom: 5rem;
  margin-top: 0px;
  font-family: $font2;
  // a {text-decoration: none;color:#333;}
}
.small {
  font-size: 0.7rem;
}

.homepage-nugget h2 a {text-decoration: none;color:#fff;}
.homepage-nugget p a {text-decoration: none;color: #333;}

.card-nav-links a{
  text-decoration: none;
  color: black;
  padding: .5rem;
  margin-bottom:.3rem;
}

.card-nav-links a:hover{
  background:#254DA8;
   
  }
















/* CAN WE TRY SOME ANIMATIONS */
/* make keyframes that tell the start state and the end state of our object */



.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

/* ORIGINAL .fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.fade-in.three {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}
 */

 .fade-in.one {
 
  animation-delay: 0.7s;
}

.fade-in.two {
 
  animation-delay: 1.4s;
}

.fade-in.three {
 
  animation-delay: 2.1s;
}

.fade-in.four {
 
  animation-delay: 2.8s;
}

.fade-in.five {
 
  animation-delay: 3.5s;
}
#second_email {
	display: none;}
