<footer>

    <div id="footer-icons">
        <a href="https://www.twitter.com/BradCoffield"><img src="/assets/twitter.svg" alt="Brad's Twitter feed" width=35px></a>
        <a href="https://github.com/BradCoffield/"><img src="/assets/github.svg" alt="Brad's Github"  width=35px></a>
    </div>
    <div id="footer-nav">
        <ul>
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/assets/Brad Coffield - CV - Nov2017.pdf">CV</a>
            </li>
            <li>
                <a href="/blog.html">Blog</a>
            </li>
            <li>
                <a href="/about.html">About</a>
            </li>
            <li>
                <a href="/contact.html">Contact</a>
            </li>
        </ul>
    </div>


</footer>