$color-blue: #254DA8;
$color-main: #051e59;
$color-main-light: yellow;
// $color-main-light: #254da8;
$color-apis: #008080;
$font1: "League Spartan", serif;
$font2: "Fanwood", serif;
$bg-grid: url(/assets/hip-square.png);
$bg-chalk: url(/assets/chalkboard.jpg);
$bg-dotty: url(/assets/dotty2.jpg);
$bg-noisy: url(/assets/green1.jpeg);
$bg-library: url(/assets/library3-min.jpg);
$bg-code: url(/assets/code4.jpg);
$card-dark: rgba(255, 255, 255, 0.6);
$card-light: rgba(255, 255, 255, 0.8);
$line-height: 2.2rem;